<html>
    <head>
        <title>University Registrar</title>
        <link href="css/custom.css" rel='stylesheet' type="text/css">
        <link href="../../css/custom.css" rel='stylesheet' type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">

            <h1><center>UNIVERSITY REGISTRAR</center></h1>

            <div class="col-xs-8">
                <h2>{{ course.getCourseNumber }} - Main Page</h2>
                <h3>{{ course.getCourseName }}</h3>

                {% if students is not empty %}
                    <h4>Students Enrolled</h4>
                    <ul>
                    {% for student in students %}
                        <li><a href="/student/{{ student.getId }}">{{ student.getName }}</a></li>
                    {% endfor %}
                    </ul>

                {% else %}
                    <p>Zero students are enrolled in this class.</p>
                    <p>Consider updating your curriculum.</p>
                {% endif %}

                <br>
                <h4>Choose Students to Enroll:</h4>
                <form action="/course/{{ course.getId }}/add_student" method="post">
                    <input id="id" name="id" type="hidden" value="{{ course.getId() }}">

                    <label for="student_id">Select a new student:</label>
                    <select id='student_id' name='student_id' type='text'>
                        {% for student in all_students %}
                            <option value="{{ student.getId }}"> {{ student.getName }} </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn-md">Add student</button>
                </form>

            </div>

            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg" style="background-color:white; width:250px">HOME</button>
                </form>
                <form action="/students" method="get">
                    <button type="submit" class="btn-lg btn-danger" style="width:250px">VIEW ALL STUDENTS</button>
                </form>
                <form action="/courses" method="get">
                    <button type="submit" class="btn-lg btn-primary" style="width:250px">VIEW ALL COURSES</button>
                </form>
            </div>

        </div>
    </body>
</html>
